<!DOCTYPE html>
<html>
<head>
    <title>Email Sent</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="jumbotron">
       
        
          <center> <h2 class="display-4">Thank you for contact to Auto Grading System</h2><br><p class="lead"></p><a class="btn btn-primary btn-lg" href="/" role="button">Home</a></center>
        </p>
      </div>

</body>
</html>